* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #202124;
}

h1 {
    font-size: 28px;
}

/* Cabeçalho */
header {
    padding: 1rem 2rem;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
}

#search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 250px;
    background-color: #202124;
    width: 400px;
}

#search-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    border-radius: 25px;
    background-color: #202124;
    color: #ccc;
}

#export-notes {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: #fff;
    color: #333;
}

/* Form de nova nota */
#add-note-container {
    display: flex;
    width: 400px;
    margin: 2rem auto 0;
    gap: 0.8rem;
}

#add-note-container input,
#add-note-container button {
    padding: 10px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #525356;
    color: #fff;
    border-radius: 25px;
    height: 36px;
}

#add-note-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0073ff;
    color: #fff;
    border-radius: 25px;
    border: none;
    width: 36px;
    height: 36px;
    transition: 0.4s;
    opacity: 0.8;
    font-size: 1.2rem;
}

#add-note-container button:hover {
    opacity: 1;
}

/* Notas */
#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #202124;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    width: 85%;
    outline: none;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
}

.note:hover>i {
    opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 5px;
    color: #555;
    opacity: 0;
    transition: 0.3s;
    font-size: 1.2rem;
}

.note .bi-file-earmark-plus {
    top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: #fff;
}

.note.fixed {
    background-color: #ffffff0c;
}

.note.fixed .bi-pin {
    background-color: #fff;
}

.note.fixed .bi-pin {
    color: #000;
}

/* media query resposividade */
@media screen and (max-width: 450px) {

    header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    #search-container,
    #search-input {
        width: 100%;
    }

    #add-note-container {
        width: 100%;
        padding: 0 2rem;
    }

    #notes-container {
        grid-template-columns: repeat(auto-fill, 100%);
    }

}